@import "tailwindcss";

@layer base {
    body {
        @apply font-sans antialiased text-gray-900 dark:text-gray-100 bg-gray-50 dark:bg-gray-900 transition-colors duration-300;
    }
}

@layer utilities {}